.App {
  text-align: left;
}

li {
  text-align: left;
  cursor: pointer;
  list-style-type: none;
}

.plus {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: linear-gradient(to bottom, transparent 45%, #000 45%, #000 55%, transparent 55%), linear-gradient(to right, transparent 45%, #000 45%, #000 55%, transparent 55%);
  transition: 3s;
}

.minus {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: linear-gradient(to bottom, transparent 45%, #000 45%, #000 55%, transparent 55%);
}

.space {
  display: inline-block;
  width: 10px;
  height: 10px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: gray;
  text-decoration: underline;
}

.gitIcon {
  display: inline-block;
  vertical-align: bottom;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 55px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  /* font-size: calc(1px + 2vmin); */
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}